PORT=5000
NODE_ENV=development

DB_HOST=cpanel-sh117.webhostingservices.com
DB_PORT=3306
DB_USER=pixelfla_vertex_user
DB_PASSWORD=8.+wlwTE65sS
DB_NAME=pixelfla_vertex_supermarket

JWT_ACCESS_SECRET=vertex_supermarket_access_secret_123
JWT_REFRESH_SECRET=vertex_supermarket_refresh_secret_123
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173