PORT=5000
NODE_ENV=development

# Preferred: Supabase pooler
SUPABASE_POOLER_URL=postgresql://postgres.oqtjgmrerienzwixkowb:E5hjlyKqm88AbGR3@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?sslmode=require

# Fallback: direct Supabase DB host
DATABASE_URL=postgresql://postgres:E5hjlyKqm88AbGR3@db.oqtjgmrerienzwixkowb.supabase.co:5432/postgres?sslmode=require

SUPABASE_URL=https://oqtjgmrerienzwixkowb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_UMfmTug1vxTOrBevhrziXA_r95TV94U

JWT_ACCESS_SECRET=vertex_supermarket_access_secret_123
JWT_REFRESH_SECRET=vertex_supermarket_refresh_secret_123
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
